{% load static i18n %}
<div class="modal-content green-gradient">
    <div class="modal-body">
        <div class="text-center mt-2 mb-3">
            <span><img src="{% static 'custom/images/logo.png' %}" alt="laurels" height="80"></span>
        </div>
        <div class="text-center">
            <h4 class="text-white">Request To Retrieve Board</h4>
        </div>
        <p class="text-white text-center">{% blocktrans trimmed %}Please confirm you wish to retrieve the board.{% endblocktrans %}</p>
        <form method="post" action="{% url 'boards:retrieve_board' board_instance.id %}" class="text-center text-white js-submit-form-boards">
            {% csrf_token %}
            <div class="row">
                <div class="col-10 offset-1" id="form-validation-block">
                    {{ form|as_crispy_errors }}
                </div>
                <div class="col-12 col-sm-6 offset-sm-3">
                    {{ form.date|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-6 offset-sm-3">
                    {{ form.activate_date|as_crispy_field }}
                </div>
            </div>
            <div class="mb-2 text-center">
                <button type="submit" class="btn btn-info" id="add-button">{% trans "Retrieve Board" %}</button>
            </div>
        </form>
    </div>
</div>
<!-- /.modal-content -->
