{% load static i18n %}
<div class="modal-content green-gradient">
    <div class="modal-body">
        <div class="text-center mt-2 mb-3">
            <span><img src="{% static 'custom/images/logo.png' %}" alt="laurels" height="80"></span>
        </div>
        <div class="text-center text-white">
            <h4 class="text-white">Add Deal</h4>
            <p class="text-white text-center">Please select the offer that is being accepted and proceed with the deal. Please note, adding a deal can take a number of seconds to process, please be patient.</p>
            <form method="post" action="{% url 'properties:add_deal' propertyprocess_id %}" class="text-center text-white px-2 js-submit-form-success custom-form-margin">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        {{ form.offer_accepted|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.date|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.target_move_date|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ marketing_form.applicant_intro|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ marketing_board_form.sold_marketing_board|as_crispy_field }}
                        <small id="hint_id_sold_marketing_board" class="form-text text-white">*** Default To Current Board ***</small>
                    </div>
                </div>

                <div class="my-2 text-center">
                    <button type="submit" class="btn btn-info" id="add-button">{% trans "Add Deal" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.modal-content -->