{% load static i18n %}
<div class="modal-content green-gradient">
    <div class="modal-body">
        <div class="text-center mt-2 mb-3">
            <span><img src="{% static 'custom/images/logo.png' %}" alt="laurels" height="80"></span>
        </div>
        <div class="text-center">
            <h4 class="text-white">Add User Targets</h4>
        </div>
        <p class="text-white text-center">{% blocktrans trimmed %}Please add the user targets. You must add a minimum of four quarters.{% endblocktrans %}</p>
        <form method="POST" action="{% url 'invitations:targets_user' invitation_instance.key %}" class="text-center text-white js-add-user-targets-form">
            {% csrf_token %}
            {{ formset.non_form_errors }}
            {% for form in formset %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% if forloop.first %}
                <div class="row my-2">
                    <div class="offset-3 offset-md-0 col-6 col-md-2">
                        <div class="d-block">
                            Select Year
                        </div>
                        <select name="year" class="select form-control" id="year" required>
                            <option value="" selected="">---------</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                          </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 d-none d-md-inline">
                        Valuations
                    </div>
                    <div class="col-2 d-none d-md-inline">
                        Instructions
                    </div>
                    <div class="col-2 d-none d-md-inline">
                        Reductions
                    </div>
                    <div class="col-2 d-none d-md-inline">
                        New Business
                    </div>
                    <div class="col-2 d-none d-md-inline">
                        Exchange/Move
                    </div>
                    <div class="col-2 d-none d-md-inline">
                        Conveyancing
                    </div>
                    <div class="col-2 d-none d-md-inline">
                        Mortgages
                    </div>
                </div>
                {% endif %}
                <div class="row mt-1 mb-1">
                    <div class="col-12">
                        <h6 {% if forloop.counter == 1 %}class="mt-0"{% endif %}><small> Quarter{{ forloop.counter }}</small></h6>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="d-md-none">
                            Valuations
                        </div>
                        {{ form.valuations|as_crispy_field }}
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="d-md-none">
                            Instructions
                        </div>
                        {{ form.instructions|as_crispy_field }}
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="d-md-none">
                            Reductions
                        </div>
                        {{ form.reductions|as_crispy_field }}
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="d-md-none">
                            New Business
                        </div>
                        {{ form.new_business|as_crispy_field }}
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="d-md-none">
                            Exchange/Move
                        </div>
                        {{ form.exchange_and_move|as_crispy_field }}
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="d-md-none">
                            Conveyancing
                        </div>
                        {{ form.conveyancing|as_crispy_field }}
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="d-md-none">
                            Mortgages
                        </div>
                        {{ form.mortgages|as_crispy_field }}
                    </div>
                </div>
                {% if forloop.last %}
                {% else %}
                    <span class="hr"></span>
                {% endif %}
            {% endfor %}
            {{ formset.management_form }}
            <div class="mb-2 text-center">
                <button type="submit" class="btn btn-info" id="add-button">{% trans "Add User Targets" %}</button>
            </div>
        </form>
    </div>
</div>
<!-- /.modal-content -->