{% extends "vertical_base.html" %}
{% load static i18n %}
{% load humanize %}

{% block head_title %}{% trans "Home" %}{% endblock head_title %}

{% block extra_css %}
<!-- Glide JS Core CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.css" integrity="sha512-ShLuspGzRsTiMlQ2Rg0e+atjy/gVQr3oYKnKmQkHQ6sxcnDAEOtOaPz2rRmeygV2CtnwUawDyHkGgH4zUbP3Hw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.theme.min.css" integrity="sha512-wCwx+DYp8LDIaTem/rpXubV/C1WiNRsEVqoztV0NZm8tiTvsUeSlA/Uz02VTGSiqfzAHD4RnqVoevMcRZgYEcQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- End Glide JS Core CSS -->
{% endblock %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">
        
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item active"><a href="{% url 'home:home' %}"><i class="uil-home-alt"></i> Home</a></li>
                        </ol>
                    </div>
                    <h4 class="page-title">Leaderboards</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                  <ul class="glide__slides">
                    <li class="glide__slide px-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mt-1">Last Quarter Top Performers</h4>
        
                                <div class="table-responsive">
                                    <table class="table table-sm table-centered mb-0 font-14">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Name</th>
                                                <th class="text-center">No.</th>
                                                <th style="width: 40%;">Perc.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for instance in last_valuations %}
                                            <tr>
                                                <td>
                                                    {% for employee in employees %}
                                                        {% if instance.employee_id == employee.id %}
                                                            {{ employee.user.abbreviated_name }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td class="text-center">{{ instance.valuation_count }}</td>
                                                <td 
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    title="{{ instance.valuation_target }}%">
                                                    <div 
                                                        class="progress"
                                                        style="height: 3px;">
                                                        <div 
                                                            class="progress-bar bg-success"
                                                            role="progressbar"
                                                            style="width: {{ instance.valuation_target }}%; height: 20px;"
                                                            aria-valuenow="{{ instance.valuation_target }}"
                                                            aria-valuemin="0"
                                                            aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div> <!-- end table-responsive-->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->

                        <div class="card">
                            <div class="card-body text-center">
                                <h2 class="text-underline m-0">Valuations</h2>  
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->

                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mt-1">This Quarter</h4>
        
                                <div class="table-responsive">
                                    <table class="table table-sm table-centered mb-0 font-14">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Name</th>
                                                <th class="text-center">No.</th>
                                                <th style="width: 40%;">Perc.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for instance in valuations %}
                                                {% for employee in employees %}
                                                    {% if instance.employee_id == employee.id %}
                                                    <tr>
                                                        <td>
                                                            {{ employee.user.abbreviated_name }}
                                                        </td>
                                                        <td class="text-center">
                                                            <span
                                                                class="pointer text-info js-scrollable-modal"
                                                                data-url="{% url 'home:employee_valuation_list' employee.id %}">
                                                                {{ instance.valuation_count }}
                                                            </span>
                                                        </td>
                                                        <td  
                                                            data-toggle="tooltip"
                                                            data-placement="top"
                                                            title="{{ instance.valuation_target }}%">
                                                            <div
                                                                class="progress"
                                                                style="height: 3px;">
                                                                <div
                                                                    class="progress-bar bg-success"
                                                                    role="progressbar"
                                                                    style="width: {{ instance.valuation_target }}%; height: 20px;"
                                                                    aria-valuenow="{{ instance.valuation_target }}"
                                                                    aria-valuemin="0"
                                                                    aria-valuemax="100">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            {% for employee in no_valuation_employees %}
                                            <tr>
                                                <td>
                                                    {{ employee.user.abbreviated_name }}
                                                </td>
                                                <td class="text-center">0</td>
                                                <td 
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    title="0%">
                                                    <div class="progress" style="height: 3px;">
                                                        <div class="progress-bar" role="progressbar"
                                                            style="width: 0%; height: 20px;" aria-valuenow="0"
                                                            aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div> <!-- end table-responsive-->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </li>
                    <li class="glide__slide px-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mt-1">Last Quarter Top Performers</h4>
        
                                <div class="table-responsive">
                                    <table class="table table-sm table-centered mb-0 font-14">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Name</th>
                                                <th class="text-center">No.</th>
                                                <th style="width: 40%;">Perc.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for instance in last_instructions %}
                                            <tr>
                                                <td>
                                                    {% for employee in employees %}
                                                        {% if instance.employee_id == employee.id %}
                                                            {{ employee.user.abbreviated_name }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td class="text-center">{{ instance.instruction_count }}</td>
                                                <td
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    title="{{ instance.instruction_target }}%">
                                                    <div
                                                        class="progress"
                                                        style="height: 3px;">
                                                        <div
                                                            class="progress-bar bg-success"
                                                            role="progressbar"
                                                            style="width: {{ instance.instruction_target }}%; height: 20px;"
                                                            aria-valuenow="{{ instance.instruction_target }}"
                                                            aria-valuemin="0"
                                                            aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div> <!-- end table-responsive-->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->

                        <div class="card">
                            <div class="card-body text-center">
                                <h2 class="text-underline m-0">Instructions</h2>  
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->

                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mt-1">This Quarter</h4>
        
                                <div class="table-responsive">
                                    <table class="table table-sm table-centered mb-0 font-14">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Name</th>
                                                <th class="text-center">No.</th>
                                                <th style="width: 40%;">Perc.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for instance in instructions %}
                                                {% for employee in employees %}
                                                    {% if instance.employee_id == employee.id %}
                                                    <tr>
                                                        <td>
                                                            {{ employee.user.abbreviated_name }}
                                                        </td>
                                                        <td class="text-center">
                                                            <span
                                                                class="pointer text-info js-scrollable-modal"
                                                                data-url="{% url 'home:employee_instruction_list' employee.id %}">
                                                                {{ instance.instruction_count }}
                                                            </span>
                                                        </td>
                                                        <td
                                                            data-toggle="tooltip"
                                                            data-placement="top"
                                                            title="{{ instance.instruction_target }}%">
                                                            <div
                                                                class="progress"
                                                                style="height: 3px;">
                                                                <div
                                                                    class="progress-bar bg-success"
                                                                    role="progressbar"
                                                                    style="width: {{ instance.instruction_target }}%; height: 20px;"
                                                                    aria-valuenow="{{ instance.instruction_target }}"
                                                                    aria-valuemin="0"
                                                                    aria-valuemax="100">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            {% for employee in no_instruction_employees %}
                                            <tr>
                                                <td>
                                                    {{ employee.user.abbreviated_name }}
                                                </td>
                                                <td class="text-center">0</td>
                                                <td 
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    title="0%">
                                                    <div
                                                        class="progress"
                                                        style="height: 3px;">
                                                        <div
                                                            class="progress-bar"
                                                            role="progressbar"
                                                            style="width: 0%; height: 20px;"
                                                            aria-valuenow="0"
                                                            aria-valuemin="0"
                                                            aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div> <!-- end table-responsive-->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </li>
                    <li class="glide__slide px-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mt-1">Last Quarter Top Performers</h4>
        
                                <div class="table-responsive">
                                    <table class="table table-sm table-centered mb-0 font-14">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Name</th>
                                                <th class="text-center">No.</th>
                                                <th style="width: 40%;">Perc.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for instance in last_reductions %}
                                            <tr>
                                                <td>
                                                    {% for employee in employees %}
                                                        {% if instance.employee_id == employee.id %}
                                                            {{ employee.user.abbreviated_name }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td class="text-center">{{ instance.reduction_count }}</td>
                                                <td
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    title="{{ instance.reduction_target }}%">
                                                    <div
                                                        class="progress"
                                                        style="height: 3px;">
                                                        <div
                                                            class="progress-bar bg-success"
                                                            role="progressbar"
                                                            style="width: {{ instance.reduction_target }}%; height: 20px;"
                                                            aria-valuenow="{{ instance.reduction_target }}"
                                                            aria-valuemin="0"
                                                            aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div> <!-- end table-responsive-->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->

                        <div class="card">
                            <div class="card-body text-center">
                                <h2 class="text-underline m-0">Reductions</h2>  
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->

                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mt-1">This Quarter</h4>
        
                                <div class="table-responsive">
                                    <table class="table table-sm table-centered mb-0 font-14">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Name</th>
                                                <th class="text-center">No.</th>
                                                <th style="width: 40%;">Perc.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for instance in reductions %}
                                                {% for employee in employees %}
                                                    {% if instance.employee_id == employee.id %}
                                                    <tr>
                                                        <td>
                                                            {{ employee.user.abbreviated_name }}
                                                        </td>
                                                        <td class="text-center">
                                                            <span
                                                                class="pointer text-info js-scrollable-modal"
                                                                data-url="{% url 'home:employee_reduction_list' employee.id %}">
                                                                {{ instance.reduction_count }}
                                                            </span>
                                                        </td>
                                                        <td
                                                            data-toggle="tooltip"
                                                            data-placement="top"
                                                            title="{{ instance.reduction_target }}%">
                                                            <div
                                                                class="progress"
                                                                style="height: 3px;">
                                                                <div
                                                                    class="progress-bar bg-success"
                                                                    role="progressbar"
                                                                    style="width: {{ instance.reduction_target }}%; height: 20px;"
                                                                    aria-valuenow="{{ instance.reduction_target }}"
                                                                    aria-valuemin="0"
                                                                    aria-valuemax="100">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            {% for employee in no_reduction_employees %}
                                            <tr>
                                                <td>
                                                    {{ employee.user.abbreviated_name }}
                                                </td>
                                                <td class="text-center">0</td>
                                                <td 
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    title="0%">
                                                    <div
                                                        class="progress"
                                                        style="height: 3px;">
                                                        <div
                                                            class="progress-bar"
                                                            role="progressbar"
                                                            style="width: 0%; height: 20px;"
                                                            aria-valuenow="0"
                                                            aria-valuemin="0"
                                                            aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div> <!-- end table-responsive-->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </li>
                    <li class="glide__slide px-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mt-1">Last Quarter Top Performers</h4>
        
                                <div class="table-responsive">
                                    <table class="table table-sm table-centered mb-0 font-14">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Name</th>
                                                <th class="text-center">No.</th>
                                                <th style="width: 40%;">Perc.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for instance in last_new_business %}
                                                {% for employee in employees %}
                                                    {% if instance.employee_id == employee.id %}
                                                    <tr>
                                                        <td>
                                                            {{ employee.user.abbreviated_name }}
                                                        </td>
                                                        <td class="text-center">
                                                            £{{ instance.new_business_sum|floatformat:2|intcomma }}
                                                        </td>
                                                        <td
                                                            data-toggle="tooltip"
                                                            data-placement="top"
                                                            title="{{ instance.new_business_target }}%">
                                                            <div
                                                                class="progress"
                                                                style="height: 3px;">
                                                                <div
                                                                    class="progress-bar bg-success"
                                                                    role="progressbar"
                                                                    style="width: {{ instance.new_business_target }}%; height: 20px;"
                                                                    aria-valuenow="{{ instance.new_business_target }}"
                                                                    aria-valuemin="0"
                                                                    aria-valuemax="100">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div> <!-- end table-responsive-->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->

                        <div class="card">
                            <div class="card-body text-center">
                                <h2 class="text-underline m-0">New Business</h2>  
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->

                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mt-1">This Quarter</h4>
        
                                <div class="table-responsive">
                                    <table class="table table-sm table-centered mb-0 font-14">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Name</th>
                                                <th class="text-center">No.</th>
                                                <th style="width: 40%;">Perc.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for instance in new_business %}
                                                {% for employee in employees %}
                                                    {% if instance.employee_id == employee.id %}
                                                    <tr>
                                                        <td>
                                                            {{ employee.user.abbreviated_name }}
                                                        </td>
                                                        <td class="text-center">
                                                            <span
                                                                class="pointer text-info js-scrollable-modal"
                                                                data-url="{% url 'home:employee_new_business_list' employee.id %}">
                                                                £{{ instance.new_business_sum|floatformat:2|intcomma }}
                                                            </span>
                                                        </td>
                                                        <td
                                                            data-toggle="tooltip"
                                                            data-placement="top"
                                                            title="{{ instance.new_business_target }}%">
                                                            <div
                                                                class="progress"
                                                                style="height: 3px;">
                                                                <div
                                                                    class="progress-bar bg-success"
                                                                    role="progressbar"
                                                                    style="width: {{ instance.new_business_target }}%; height: 20px;"
                                                                    aria-valuenow="{{ instance.new_business_target }}"
                                                                    aria-valuemin="0"
                                                                    aria-valuemax="100">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            {% for employee in no_new_business_employees %}
                                            <tr>
                                                <td>
                                                    {{ employee.user.abbreviated_name }}
                                                </td>
                                                <td class="text-center">£0.00</td>
                                                <td 
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    title="0%">
                                                    <div
                                                        class="progress"
                                                        style="height: 3px;">
                                                        <div
                                                            class="progress-bar"
                                                            role="progressbar"
                                                            style="width: 0%; height: 20px;"
                                                            aria-valuenow="0"
                                                            aria-valuemin="0"
                                                            aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div> <!-- end table-responsive-->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </li>
                  </ul>
                </div>
                <div class="glide__bullets" data-glide-el="controls[nav]">
                    <button class="glide__bullet" data-glide-dir="=0"></button>
                    <button class="glide__bullet" data-glide-dir="=1"></button>
                    <button class="glide__bullet" data-glide-dir="=2"></button>
                    <button class="glide__bullet" data-glide-dir="=3"></button>
                </div>
            </div>
        </div>
        
    </div> <!-- container -->
    {% include 'partials/base-large-modal.html' %}
{% endblock %}

{% block extra_javascript %}
{{ block.super }}

<!-- Glide JS link -->
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<!-- End Glide JS link -->

<!-- Glide JS -->
<script src="{% static 'home/js/glide.js' %}"></script>
<!-- End Glide JS -->

<!-- Custom JS -->
<script src="{% static 'home/js/lists.js' %}"></script>
<!-- End Custom JS -->

{% endblock %}