{% extends "base.html" %}

{% load static i18n %}

{% block head_title %}{% trans "Log In" %}{% endblock head_title %}

{% block body_extra %}
class="loading authentication-bg" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'
{% endblock body_extra %}

{% block page_content %}

    <div class="account-pages pt-5 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card">

                        <!-- Logo -->
                        <div class="card-header pt-2 pb-2 text-center bg-success">
                            <a href="">
                                <span><img src="{% static 'custom/images/logo.png' %}" alt="laurels logo" height="70"></span>
                            </a>
                        </div>

                        <div class="card-body p-4">
                            
                            <div class="text-center w-100 w-md-75 m-auto">
                                <h4 class="text-dark-50 text-center mt-0 font-weight-bold">{% trans "Sign In" %}</h4>
                                <p class="text-muted mb-4">{% trans "Enter your email address and password to access admin panel." %}</p>
                            </div>

                            <form class="login" method="POST" action="" novalidate>
                                {% csrf_token %}
                                {{ form|crispy }}
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                {% endif %}

                                <div class="form-group mb-0 mt-4 clearfix">
                                    <button class="float-left btn btn-success" type="submit">{% trans "Sign In" %}</button>
                                    <a class="button secondaryAction float-right align-middle"
                                        href="">{% trans "Forgot Password?" %}</a>
                                </div>
                            </form>
                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    <footer class="footer footer-alt">
      {% now "Y" %} © Laurels - Designed By <a href="mailto: Thomas_Muat@hotmail.com">Thomas Muat</a>
  </footer>

{% endblock %}