{% extends "base.html" %}

{% load static i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block body_extra %}
class="loading authentication-bg" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'
{% endblock body_extra %}

{% block page_content %}

    <div class="account-pages pt-5 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card">

                        <!-- Logo -->
                        <div class="card-header pt-2 pb-2 text-center bg-success">
                            <a href="">
                                <span><img src="{% static 'custom/images/logo.png' %}" alt="laurels logo"
                                        height="70"></span>
                            </a>
                        </div>

                        <div class="card-body p-4">

                            {% if validlink %}

                            <div class="text-center w-100 w-md-75 m-auto">
                                <h4 class="text-dark-50 text-center mt-0 font-weight-bold">{% trans "Reset Password" %}</h4>
                                <p class="text-muted mb-2">
                                {% trans "Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one." %}</p>
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                {% if form.non_field_errors %}
                                    <div class="non-field-errors text-center alert alert-block alert-danger">
                                        {{ form.non_field_errors }}
                                    </div>
                                {% endif %}
                                {{ form.new_password1.errors }}
                                {{ form.new_password1|as_crispy_field }}
                                {{ form.new_password2.errors }}
                                {{ form.new_password2|as_crispy_field }}
                                <div class="text-center">
                                    <button class="btn btn-success mx-auto" type="submit">{% trans "Change Password" %}</button>
                                </div>
                            </form>

                            {% else %}

                            <div class="text-center w-100 w-md-75 m-auto">
                                <h4 class="text-dark-50 text-center mt-0 font-weight-bold">{% trans "Reset Password Error" %}</h4>
                                <p class="text-muted mb-2">
                                {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                            </div>

                            {% endif %}

                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    <footer class="footer footer-alt">
        {% now "Y" %} © Laurels - Designed By <a href="mailto: Thomas_Muat@hotmail.com">Thomas Muat</a>
    </footer>

{% endblock %}