{% load static i18n %}


<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <!-- LOGO -->
    <a href="" class="logo text-center logo-light">
        <span class="logo-lg">
            <img class="white-box-shadow" src="{% static 'custom/images/logo.png' %}" alt="laurels logo" height="60">
        </span>
        <span class="logo-sm">
            <img src="{% static 'custom/images/logo_sm.png' %}" alt="laurels logo" height="50">
        </span>
    </a>

    <!-- LOGO -->
    <a href="" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="{% static 'custom/images/logo.png' %}" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="{% static 'custom/images/logo_sm.png' %}" alt="" height="16">
        </span>
    </a>
    
    <div class="h-100" id="left-side-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="metismenu side-nav">

            <li class="side-nav-title side-nav-item">{% trans "Navigation" %}</li>

            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span class="badge badge-success float-right">4</span>
                    <span> {% trans "Dashboards" %} </span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li class="{% if request.resolver_match.url_name == 'analytics' %}active{% endif %}">
                        <a href="">{% trans "Analytics" %}</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'crm' %}active{% endif %}">
                        <a href="">{% trans "CRM" %}</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'ecommerce' %}active{% endif %}">
                        <a href="">{% trans "Ecommerce" %}</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'analytics' %}active{% endif %}">
                        <a href="">{% trans "Projects" %}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- End Sidebar -->

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->