{% load static i18n %}


<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <!-- LOGO -->
    <a href="{% url 'home:home' %}" class="logo text-center logo-light">
        <span class="logo-lg">
            <img class="white-box-shadow" src="{% static 'custom/images/logo.png' %}" alt="laurels logo" height="60">
        </span>
        <span class="logo-sm">
            <img src="{% static 'custom/images/logo_sm.png' %}" alt="laurels logo" height="50">
        </span>
    </a>
    
    <div class="h-100" id="left-side-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="metismenu side-nav">

            <li class="side-nav-title side-nav-item">{% trans "Navigation" %}</li>
            <li class="side-nav-item">
                <a href="{% url 'home:home' %}" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> {% trans "Home" %} </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'home:offer_board' %}?hub={{ request.user.profile.hub.first.slug }}" class="side-nav-link">
                    <i class="mdi mdi-monitor-dashboard"></i>
                    <span> {% trans "Offer Board" %} </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="mdi mdi-warehouse"></i>
                    <span> {% trans "Properties" %} </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li {% if request.resolver_match.url_name == 'property_list' %}class="active"{% endif %}>
                        <a href="{% url 'properties:property_list' %}">{% trans "All Property List" %}</a>
                    </li>
                    <li {% if request.resolver_match.url_name == 'property_list' %}class="active"{% endif %}>
                        <a href="{% url 'properties:property_list' %}?status=potential">{% trans "Potential Properties" %}</a>
                    </li>
                    <li {% if request.resolver_match.url_name == 'property_list' %}class="active"{% endif %}>
                        <a href="{% url 'properties:property_list' %}?status=live">{% trans "On The Market" %}</a>
                    </li>
                    <li {% if request.resolver_match.url_name == 'property_list' %}class="active"{% endif %}>
                        <a href="{% url 'properties:property_list' %}?status=deal">{% trans "Sold/Let" %}</a>
                    </li>
                    <li {% if request.resolver_match.url_name == 'property_list' %}class="active"{% endif %}>
                        <a href="{% url 'properties:property_list' %}?status=complete">{% trans "Completed/Moved In" %}</a>
                    </li>
                </ul>
            </li>
            <!-- <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="mdi mdi-home-group"></i>
                    <span> {% trans "Lettings" %} </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li {% if request.resolver_match.url_name == 'property_list' %}class="active"{% endif %}>
                        <a href="{% url 'properties:property_list' %}">{% trans "Managed Properties" %}</a>
                    </li>
                    <li {% if request.resolver_match.url_name == 'offer_board' %}class="active mm-active"{% endif %}>
                        <a 
                            href="{% url 'home:offer_board' %}?hub={{ request.user.profile.hub.first.slug }}"
                            {% if request.resolver_match.url_name == 'offer_board' %}class="active"{% endif %}
                        >{% trans "Offer Board" %}</a>
                    </li>
                </ul>
            </li> -->
            <!-- <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="mdi mdi-graph-outline"></i>
                    <span> {% trans "Statistics" %} </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li {% if request.resolver_match.url_name == 'normal_by_person' %}class="active"{% endif %}>
                        <a href="{% url 'stats:normal_by_person' %}">{% trans "Normal By Person" %}</a>
                    </li>
                </ul>
            </li> -->
            {% if request.user.profile.director %}
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="mdi mdi-clipboard-account"></i>
                    <span> {% trans "Management" %} </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li class="{% if request.resolver_match.url_name == 'hub_and_region' %}active{% endif %}">
                        <a href="{% url 'regionandhub:hub_and_region' %}">{% trans "Regions & Hubs" %}</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'employees' %}active{% endif %}">
                        <a href="{% url 'users:employees' %}">{% trans "Employees" %}</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'invitations' %}active{% endif %}">
                        <a href="{% url 'invitations:invitations' %}">{% trans "Invitations" %}</a>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>
        <!-- End Sidebar -->
        
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->