{% if area_list|length > 0 %}
    <div class="table-responsive">
        <table class="table table-hover table-centered mb-0">
            <thead>
                <tr>
                    <th>Area</th>
                    <th class="text-center">Active Properties</th>
                    <th class="text-center">Inactive Properties</th>
                    <th class="text-center">View Properties</th>
                </tr>
            </thead>
            <tbody>
                {% for instance in area_list %}
                    {% for info_instance in extra_info %}
                        {% if info_instance.area_id == instance.id %}
                            {% if instance.is_active %}
                                <tr>
                                    <td style="width: 30%;">{{ instance }}</td>
                                    <td class="text-center"><span class="badge badge-success">{{ info_instance.active_properties }}</span></td>
                                    <td class="text-center"><span class="badge badge-danger">{{ info_instance.inactive_properties }}</span></td>
                                    <td class="text-center text-primary">
                                        <a href="{% url 'touts:area_detail' instance.id %}">
                                            <i class="mdi mdi-arrow-expand-all font-16 mr-1"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td style="width: 30%; opacity: 0.5;" class="text-muted">{{ instance }}</td>
                                    <td style="opacity: 0.5;" class="text-center text-muted"><span class="badge badge-success">{{ info_instance.active_properties }}</span></td>
                                    <td style="opacity: 0.5;" class="text-center text-muted"><span class="badge badge-danger">{{ info_instance.inactive_properties }}</span></td>
                                    <td style="opacity: 0.5;" class="text-center text-muted text-primary">
                                        <a href="{% url 'touts:area_detail' instance.id %}">
                                            <i class="mdi mdi-arrow-expand-all font-16 mr-1"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div> <!-- end table responsive-->
{% else %}
    {% if not query %}
        <h4 class="mt-0 mb-1 font-16 text-center my-5">No Results To Display</h4>
    {% elif query %}
        <h4 class="mt-0 mb-1 font-16 text-center my-5">No Results For - "{{ query }}"</h4>
    {% endif %}
{% endif %}