{% extends "vertical_base.html" %}
{% load static i18n %}

{% block head_title %}{% trans "Region & Hubs" %}{% endblock head_title %}


{% block content %}
<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item"><a href="{% url 'home:home' %}"><i class="uil-home-alt"></i> Home</a></li>
                        <li class="breadcrumb-item active">Management</li>
                        <li class="breadcrumb-item active" aria-current="page">Regions & Hubs</li>
                    </ol>
                </div>
                <h4 class="page-title">Region & Hubs</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 

    <!-- start region list -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div id="page-title" class="float-none float-sm-left">
                                {% include 'regionandhub/includes/page-title.html' %}
                            </div>
                            <div class="float-none float-sm-right">
                                <button class="btn btn-success btn-sm mr-2 js-add-region">Add Region</button>
                                <button class="btn btn-success btn-sm js-add-hub">Add Hub</button>
                            </div>
                        </div>
                        <div id="panel-div" class="w-100">
                            {% include 'regionandhub/includes/panel.html' %}
                        </div>
                    </div>
                    <!-- end card-body-->
                    
                </div>
                <!-- end card-body-->

            </div>
            <!-- end card-->

        </div>
        <!-- end col-->

    </div>
    <!-- End row -->
</div>
<!-- End content -->
{% include 'partials/base-large-modal.html' %}
{% endblock %}

{% block extra_javascript %}
{{ block.super }}
    <script src="{% static 'regionandhub/js/region_and_hub-v3.js' %}"></script>
{% endblock %}