{% extends "vertical_base.html" %}
{% load static i18n %}
{% load humanize %}

{% block head_title %}{% trans "Hub Overview" %}{% endblock head_title %}

{% block extra_css %}
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
{% endblock %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <!-- start page title -->
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="{% url 'home:home' %}"><i class="uil-home-alt"></i> Home</a></li>
                            <li class="breadcrumb-item active"><i class="mdi mdi-graph-outline"></i> Statistics</li>
                            <li class="breadcrumb-item active"><i class="mdi mdi-cube"></i> Hub {% if request.user.profile.director %}& Company {% endif %}Overview</li>
                        </ol>
                    </div>
                    <div class="text-center text-sm-left">
                        <h4 class="page-title">Hub {% if request.user.profile.director %}& Company {% endif %}Overview</h4>
                    </div>
                </div>
                <!-- end page title -->
            </div>
        </div>
        <!-- end row-->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-12 col-md-4 col-xl-3 pr-md-0">
                                <form method="GET" action="{% url 'stats:quick_filter_conversion' %}" class="js-filter-get-form">
                                    <div class="input-group mb-3">
                                        <select class="custom-select" id="quick-filter">
                                            <option value="current_quarter" {% if filter == "current_quarter" %}selected{% endif %}>Current Quarter</option>
                                            <option value="last_quarter" {% if filter == "last_quarter" %}selected{% endif %}>Last Quarter</option>
                                            <option value="year_to_date" {% if filter == "year_to_date" %}selected{% endif %}>Year To Date</option>
                                            <option value="previous_year" {% if filter == "previous_year" %}selected{% endif %}>Previous Year</option>
                                            <option value="all_time" {% if filter == "all_time" %}selected{% endif %}>All Time</option>
                                            {% if filter == "custom" %}
                                            <option value="custom" disabled selected>{{ start_date|date:"d/m/y" }} - {{ end_date|date:"d/m/y" }}</option>
                                            {% endif %}
                                        </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-info" type="submit">Go</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-6 col-md-6 col-xl-7 pl-md-0">
                                <span class="mx-2 d-none d-md-inline">Or </span>
                                <button class="btn btn-info js-load-form" data-url="{% url 'stats:more_filters' %}">Date Filters</button>
                            </div>
                            {% if request.user.profile.director %}
                            <div class="col-6 col-md-2">
                                <div class="text-right">
                                    <a href="{% url 'stats:export_hub_overview_xls' %}?filter={{ filter }}&start-date={{ start_date|date:'Y-m-d' }}&end-date={{ end_date|date:'Y-m-d' }}{% if sort %}&sort={{sort}}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}" class="btn btn-light mb-2">Export Hubs</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% if request.user.profile.director %}
                        <div class="table-responsive">
                            <table class="table table-centered mb-2">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="width: 20%;">
                                            
                                        </th>
                                        <th style="width: 16%;" class="text-center">
                                            Valuations
                                        </th>
                                        <th style="width: 16%;" class="text-center">
                                            Instructions
                                        </th>
                                        <th style="width: 16%;" class="text-center">
                                            Reductions
                                        </th>
                                        <th style="width: 16%;" class="text-center">
                                            New Business
                                        </th>
                                        <th style="width: 16%;" class="text-center">
                                            Exchanges
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                            <td>Total Company</td>
                                            <td class="text-center">
                                                {{ total.valuation_count }}
                                            </td>
                                            <td class="text-center">
                                                {{ total.instruction_count }}
                                            </td>
                                            <td class="text-center">
                                                {{ total.reduction_count }}
                                            </td>
                                            <td class="text-center">
                                                £{{ total.new_business_sum|floatformat:2|intcomma }}
                                            </td>
                                            <td class="text-center">
                                                £{{ total.exchange_sum|floatformat:2|intcomma }}
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                        {% endif %}

                        <div class="table-responsive">
                            <table class="table table-centered mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="width: 20%;">
                                            Name
                                            {% if sort %}
                                            <i 
                                              class="fas fa-redo fa-xs pointer ml-1 js-remove-sort"
                                              data-toggle="tooltip"
                                              title="Reset">
                                            </i>
                                            {% endif %}
                                        </th>
                                        <th style="width: 16%;" class="text-center">
                                            Valuations
                                            {% if sort == "valuations" and direction == "desc" %}
                                                <i 
                                                class="fas fa-sort pointer js-sort text-success"
                                                data-toggle="tooltip"
                                                title="Sort Ascending"
                                                data-sort="valuations"
                                                data-direction="asc"
                                                >
                                                </i>
                                            {% elif sort == "valuations" and direction == "asc" %}
                                                <i 
                                                class="fas fa-sort pointer js-sort text-success"
                                                data-toggle="tooltip"
                                                title="Sort Descending"
                                                data-sort="valuations"
                                                data-direction="desc"
                                                >
                                                </i>
                                            {% else %}
                                                <i 
                                                class="fas fa-sort pointer js-sort"
                                                data-toggle="tooltip"
                                                title="Sort Descending"
                                                data-sort="valuations"
                                                data-direction="desc"
                                                >
                                                </i>
                                            {% endif %}
                                        </th>
                                        <th style="width: 16%;" class="text-center">
                                            Instructions
                                            {% if sort == "instructions" and direction == "desc" %}
                                                <i 
                                                class="fas fa-sort pointer js-sort text-success"
                                                data-toggle="tooltip"
                                                title="Sort Ascending"
                                                data-sort="instructions"
                                                data-direction="asc"
                                                >
                                                </i>
                                            {% elif sort == "instructions" and direction == "asc" %}
                                                <i 
                                                class="fas fa-sort pointer js-sort text-success"
                                                data-toggle="tooltip"
                                                title="Sort Descending"
                                                data-sort="instructions"
                                                data-direction="desc"
                                                >
                                                </i>
                                            {% else %}
                                                <i 
                                                class="fas fa-sort pointer js-sort"
                                                data-toggle="tooltip"
                                                title="Sort Descending"
                                                data-sort="instructions"
                                                data-direction="desc"
                                                >
                                                </i>
                                            {% endif %}
                                        </th>
                                        <th style="width: 16%;" class="text-center">
                                            Reductions
                                            {% if sort == "reductions" and direction == "desc" %}
                                                <i 
                                                class="fas fa-sort pointer js-sort text-success"
                                                data-toggle="tooltip"
                                                title="Sort Ascending"
                                                data-sort="reductions"
                                                data-direction="asc"
                                                >
                                                </i>
                                            {% elif sort == "reductions" and direction == "asc" %}
                                                <i 
                                                class="fas fa-sort pointer js-sort text-success"
                                                data-toggle="tooltip"
                                                title="Sort Descending"
                                                data-sort="reductions"
                                                data-direction="desc"
                                                >
                                                </i>
                                            {% else %}
                                                <i 
                                                class="fas fa-sort pointer js-sort"
                                                data-toggle="tooltip"
                                                title="Sort Descending"
                                                data-sort="reductions"
                                                data-direction="desc"
                                                >
                                                </i>
                                            {% endif %}
                                        </th>
                                        <th style="width: 16%;" class="text-center">
                                            New Business
                                            {% if sort == "new_business" and direction == "desc" %}
                                                <i 
                                                class="fas fa-sort pointer js-sort text-success"
                                                data-toggle="tooltip"
                                                title="Sort Ascending"
                                                data-sort="new_business"
                                                data-direction="asc"
                                                >
                                                </i>
                                            {% elif sort == "new_business" and direction == "asc" %}
                                                <i 
                                                class="fas fa-sort pointer js-sort text-success"
                                                data-toggle="tooltip"
                                                title="Sort Descending"
                                                data-sort="new_business"
                                                data-direction="desc"
                                                >
                                                </i>
                                            {% else %}
                                                <i 
                                                class="fas fa-sort pointer js-sort"
                                                data-toggle="tooltip"
                                                title="Sort Descending"
                                                data-sort="new_business"
                                                data-direction="desc"
                                                >
                                                </i>
                                            {% endif %}
                                        </th>
                                        <th style="width: 16%;" class="text-center">
                                            Exchanges
                                            {% if sort == "exchanges" and direction == "desc" %}
                                                <i 
                                                class="fas fa-sort pointer js-sort text-success"
                                                data-toggle="tooltip"
                                                title="Sort Ascending"
                                                data-sort="exchanges"
                                                data-direction="asc"
                                                >
                                                </i>
                                            {% elif sort == "exchanges" and direction == "asc" %}
                                                <i 
                                                class="fas fa-sort pointer js-sort text-success"
                                                data-toggle="tooltip"
                                                title="Sort Descending"
                                                data-sort="exchanges"
                                                data-direction="desc"
                                                >
                                                </i>
                                            {% else %}
                                                <i 
                                                class="fas fa-sort pointer js-sort"
                                                data-toggle="tooltip"
                                                title="Sort Descending"
                                                data-sort="exchanges"
                                                data-direction="desc"
                                                >
                                                </i>
                                            {% endif %}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for instance in stats %}
                                        <tr>
                                            <td>{{ instance.hub_name }}</td>
                                            <td class="text-center">
                                                {% if request.user.profile.director %}
                                                    <a
                                                        class="text-dark text-hover-underline"
                                                        href="{% url 'stats:export_hub_valuations_xls' instance.id %}?filter={{ filter }}&start-date={{ start_date|date:'Y-m-d' }}&end-date={{ end_date|date:'Y-m-d' }}"
                                                    >
                                                        {{ instance.valuation_count }}
                                                    </a>
                                                {% else %}
                                                    {{ instance.valuation_count }}
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                {% if request.user.profile.director %}
                                                    <a
                                                        class="text-dark text-hover-underline"
                                                        href="{% url 'stats:export_hub_instructions_xls' instance.id %}?filter={{ filter }}&start-date={{ start_date|date:'Y-m-d' }}&end-date={{ end_date|date:'Y-m-d' }}"
                                                    >
                                                    {{ instance.instruction_count }}
                                                    </a>
                                                {% else %}
                                                    {{ instance.instruction_count }}
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                {% if request.user.profile.director %}
                                                    <a
                                                        class="text-dark text-hover-underline"
                                                        href="{% url 'stats:export_hub_reductions_xls' instance.id %}?filter={{ filter }}&start-date={{ start_date|date:'Y-m-d' }}&end-date={{ end_date|date:'Y-m-d' }}"
                                                    >
                                                    {{ instance.reduction_count }}
                                                    </a>
                                                {% else %}
                                                    {{ instance.reduction_count }}
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                {% if request.user.profile.director %}
                                                    <a
                                                        class="text-dark text-hover-underline"
                                                        href="{% url 'stats:export_hub_new_business_xls' instance.id %}?filter={{ filter }}&start-date={{ start_date|date:'Y-m-d' }}&end-date={{ end_date|date:'Y-m-d' }}"
                                                    >
                                                    £{{ instance.new_business_sum|floatformat:2|intcomma }}
                                                    </a>
                                                {% else %}
                                                    £{{ instance.new_business_sum|floatformat:2|intcomma }}
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                {% if request.user.profile.director %}
                                                    <a
                                                        class="text-dark text-hover-underline"
                                                        href="{% url 'stats:export_hub_exchanges_xls' instance.id %}?filter={{ filter }}&start-date={{ start_date|date:'Y-m-d' }}&end-date={{ end_date|date:'Y-m-d' }}"
                                                    >
                                                    £{{ instance.exchange_sum|floatformat:2|intcomma }}
                                                    </a>
                                                {% else %}
                                                    £{{ instance.exchange_sum|floatformat:2|intcomma }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- end row --> 

    </div>
    <!-- container -->
    {% include 'partials/base-extra-large-modal.html' %}
{% endblock %}

{% block extra_javascript %}
{{ block.super }}
    <!-- Custom JS -->
    <script src="{% static 'stats/js/stats-v1.js' %}"></script>
    <script src="{% static 'stats/js/lists-v1.js' %}"></script>
    <!-- End Custom JS -->
{% endblock %}
