{% load static i18n %}
<button 
    data-url="{% url 'properties:add_valuation' instance.id %}" data-toggle="tooltip"
    data-placement="top"
    title="Valuation"
    class="btn {% if instance.macro_status != 1 %}btn-secondary" disabled{% else %}btn-info js-add-valuation"{% endif %}>
        <i class="mdi mdi-clipboard-file-outline"></i>
</button>
<button 
    data-url="{% url 'properties:add_instruction' instance.id %}" data-toggle="tooltip"
    data-placement="top"
    title="Instruction"
    class="btn {% if instance.macro_status != 2 %}btn-secondary" disabled{% else %}btn-info js-add-instruction"{% endif %}>
        <i class="mdi mdi-clipboard-text-outline"></i>
</button>
<button 
    data-url="{% url 'properties:add_reduction' instance.id %}" data-toggle="tooltip"
    data-placement="top"
    title="Reduction"
    class="btn {% if instance.macro_status != 3 %}btn-secondary" disabled{% else %}btn-info js-add-reduction"{% endif %}>
        <i class="mdi mdi-cash-minus"></i>
</button>
<button 
    data-url="{% url 'properties:add_offerer' instance.id %}" data-toggle="tooltip"
    data-placement="top"
    title="Add Offer"
    class="btn {% if instance.macro_status != 3 %}btn-secondary" disabled{% else %}btn-info js-add-offerer"{% endif %}>
        <i class="mdi mdi-offer"></i>
</button>
<button 
    data-url="{% url 'properties:add_another_offer' instance.id %}" data-toggle="tooltip"
    data-placement="top"
    title="Change Offer"
    class="btn {% if instance.macro_status != 3 %}btn-secondary" disabled{% else %}btn-info js-add-another-offer"{% endif %}>
        <i class="mdi mdi-piggy-bank"></i>
</button>
<button 
    data-url="{% url 'properties:withdraw_property' instance.id %}" data-toggle="tooltip"
    data-placement="top"
    title="Withdraw"
    class="btn {% if instance.macro_status != 3 %}btn-secondary" disabled{% else %}btn-info js-withdraw"{% endif %}>
        <i class="mdi mdi-alert-octagon"></i>
</button>