{% load static i18n %}
<div class="modal-content green-gradient">
    <div class="modal-body">
        <div class="text-center mt-2 mb-3">
            <span><img src="{% static 'custom/images/logo.png' %}" alt="laurels" height="80"></span>
        </div>
        <div class="text-center">
            <h4 class="text-white">Do Not Send</h4>
        </div>
        <p class="text-white text-center">{% blocktrans trimmed %}Please use this form to stop sending tout letters.{% endblocktrans %}</p>
        <form method="post" action="{% url 'touts:do_not_send' marketing.id %}" class="text-center text-white js-submit-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1">
                    {{ form.do_not_send_reason|as_crispy_field }}
                </div>
            </div>
            <div class="mb-2 text-center">
                <button type="submit" class="btn btn-info" id="add-button">{% trans "Confirm Do Not Send" %}</button>
            </div>
        </form>
    </div>
</div>
<!-- /.modal-content -->