/* Customising The Side Nav */

.left-side-menu {
    background: linear-gradient(135deg,#357a32 0,#0acf97 70%);
}

body[data-leftbar-compact-mode=condensed] .wrapper .left-side-menu .logo {
    background: none;
}

body[data-leftbar-compact-mode=condensed] .side-nav .side-nav-item:hover .side-nav-link {
    background: linear-gradient(180deg,#4caf49 0,#20AD1F 60%);
}

body[data-leftbar-compact-mode=condensed] .side-nav .side-nav-item:hover>ul {
    background: linear-gradient(180deg,#20AD1F 0,#0ed80e 60%);
}

/* Colours */

.green-gradient {
    background: linear-gradient(135deg,#357a32 0,#0acf97 70%);
}

/* Auth Page Customisations */

body[data-leftbar-compact-mode=condensed] {
    min-height: 0px;
}

body.authentication-bg {
    background-image: url(../../core/images/bg-pattern-light-sm.svg);
}

.non-field-errors ul {
    margin-bottom: 0px;
    list-style-type: none;
    padding: 0px;
}

#modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(76, 175, 73, 0.5);
    z-index: 9999;
}
    
.loading-spinner {
  background: url(../../custom/images/spinner.svg) 50% 50%;
  background-repeat: no-repeat;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

/* Media Queries */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .w-md-75 {
        width: 75%!important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body.authentication-bg {
        background-image: url(../../core/images/bg-pattern-light.svg);
    }
}