{% load static i18n %}
<div class="modal-content green-gradient">
    <div class="modal-body">
        <div class="text-center mt-2 mb-3">
            <span><img src="{% static 'custom/images/logo.png' %}" alt="laurels" height="80"></span>
        </div>
        <div class="text-center text-white">
            <h4 class="text-white">Are you sure you wish to delete the following note?</h4>
            <form method="post" action="{% url 'properties:delete_progression_notes' progression.id %}" class="text-center text-white px-2 js-submit-form custom-form-margin">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        {{ progression.notes }}
                    </div>
                </div>
                <div class="my-2 text-center">
                    <button type="submit" class="btn btn-danger" id="add-button">{% trans "Confirm Delete" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.modal-content -->