{% load static i18n %}
<div class="modal-content green-gradient">
    <div class="modal-body">
        <div class="text-center mt-2 mb-3">
            <span><img src="{% static 'custom/images/logo.png' %}" alt="laurels" height="80"></span>
        </div>
        <div class="text-center text-white">
            <h4 class="text-white">Edit Sales Progression Settings</h4>
            <form method="post" action="{% url 'properties:phase_two' propertyprocess_id %}" class="text-center text-white px-2 js-submit-form-success custom-form-margin">
                {% csrf_token %}
                {% if propertyprocess.sales_progression.sales_progression_settings.show_mortgage %}
                <div class="row">
                    <div class="col-12">
                        {{ form.mortgage_application_submitted|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.mortgage_survey_arranged|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.mortgage_offer_with_solicitors|as_crispy_field }}
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-12">
                        {{ form.all_search_results_recieved|as_crispy_field }}
                    </div>
                </div>
                <div class="my-2 text-center">
                    <button type="submit" class="btn btn-info" id="add-button">{% trans "Save Sales Progression" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.modal-content -->