{% load static i18n %}
<div class="modal-content green-gradient">
    <div class="modal-body">
        <div class="text-center mt-2 mb-3">
            <span><img src="{% static 'custom/images/logo.png' %}" alt="laurels" height="80"></span>
        </div>
        <div class="text-center text-white">
            <h4 class="text-white">Edit Sales Progression Settings</h4>
            <form method="post" action="{% url 'properties:phase_one' propertyprocess_id %}" class="text-center text-white px-2 js-submit-form-success custom-form-margin">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        {{ form.buyers_aml_checks_and_sales_memo|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.buyers_initial_solicitors_paperwork|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.sellers_inital_solicitors_paperwork|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.draft_contracts_recieved_by_buyers_solicitors|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.searches_paid_for|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.searches_ordered|as_crispy_field }}
                    </div>
                </div>
                <div class="my-2 text-center">
                    <button type="submit" class="btn btn-info" id="add-button">{% trans "Add Sales Progression" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.modal-content -->