{% load static i18n %}
<div class="modal-content green-gradient">
    <div class="modal-body">
        <div class="text-center mt-2 mb-3">
            <span><img src="{% static 'custom/images/logo.png' %}" alt="laurels" height="80"></span>
        </div>
        <div class="text-center">
            <h4 class="text-white">Success!</h4>
        </div>
        <p class="text-white text-center">{% blocktrans trimmed %}The request for a new board has gone through.{% endblocktrans %}</p>
    </div>
</div>
<!-- /.modal-content -->
