{% load static i18n %}
<div class="modal-content green-gradient">
    <div class="modal-body">
        <div class="text-center mt-2 mb-3">
            <span><img src="{% static 'custom/images/logo.png' %}" alt="laurels" height="80"></span>
        </div>
        <div class="text-center">
            <h4 class="text-white">Edit User Targets</h4>
        </div>
        <p class="text-white text-center">Please edit '{{ user.get_full_name }}' targets for {{ year }}. You must add a minimum of four quarters.</p>
        <form method="POST" action="{% url 'users:edit_user_targets' user.pk year %}" class="text-center text-white js-submit-form">
            {% csrf_token %}
            {{ formset.non_form_errors }}
            {% for form in formset %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% if forloop.first %}
                <div class="row">
                    <div class="col d-none d-lg-inline">
                        Valuations
                    </div>
                    <div class="col d-none d-lg-inline">
                        Instructions
                    </div>
                    <div class="col d-none d-lg-inline">
                        Reductions
                    </div>
                    <div class="col d-none d-lg-inline">
                        New Business
                    </div>
                    <div class="col d-none d-lg-inline">
                        Exchange/Move
                    </div>
                    <div class="col d-none d-lg-inline">
                        Conveyancing
                    </div>
                    <div class="col d-none d-lg-inline">
                        Mortgages
                    </div>
                </div>
                {% endif %}
                <div class="row mt-1 mb-1">
                    <div class="col-12">
                        <h6 {% if forloop.counter == 1 %}class="mt-0"{% endif %}><small> Quarter{{ forloop.counter }}</small></h6>
                    </div>
                    <div class="col-6 col-lg">
                        <div class="d-lg-none">
                            Valuations
                        </div>
                        {{ form.valuations|as_crispy_field }}
                    </div>
                    <div class="col-6 col-lg">
                        <div class="d-lg-none">
                            Instructions
                        </div>
                        {{ form.instructions|as_crispy_field }}
                    </div>
                    <div class="col-6 col-lg">
                        <div class="d-lg-none">
                            Reductions
                        </div>
                        {{ form.reductions|as_crispy_field }}
                    </div>
                    <div class="col-6 col-lg">
                        <div class="d-lg-none">
                            New Business
                        </div>
                        {{ form.new_business|as_crispy_field }}
                    </div>
                    <div class="col-6 col-lg">
                        <div class="d-lg-none">
                            Exchange/Move
                        </div>
                        {{ form.exchange_and_move|as_crispy_field }}
                    </div>
                    <div class="col-6 col-lg">
                        <div class="d-lg-none">
                            Conveyancing
                        </div>
                        {{ form.conveyancing|as_crispy_field }}
                    </div>
                    <div class="col-6 col-lg offset-3 offset-lg-0">
                        <div class="d-lg-none">
                            Mortgages
                        </div>
                        {{ form.mortgages|as_crispy_field }}
                    </div>
                </div>
                {% if forloop.last %}
                {% else %}
                    <span class="hr"></span>
                {% endif %}
            {% endfor %}
            {{ formset.management_form }}
            <div class="mb-2 text-center">
                <button type="submit" class="btn btn-info" id="add-button" data-url="">{% trans "Edit User Targets" %}</button>
            </div>
        </form>
    </div>
</div>
<!-- /.modal-content -->