{% extends "vertical_base.html" %}
{% load static i18n %}
{% load humanize %}

{% block head_title %}{% trans "Property Detail" %}{% endblock head_title %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="{% url 'home:home' %}"><i class="uil-home-alt"></i> Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'properties:property_list' %}"><i class="mdi mdi-warehouse"></i> Properties</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Detail</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Property Detail</h4>
                </div>
            </div>
        </div>     
        <!-- end page title --> 

        <!-- header row -->
        <div class="row">
            <div class="col-sm-12">
                {% include 'properties/includes/detail/property_header_card.html' %}
            </div>
            <!-- end col-->
        </div>
        <!-- end row -->


        <div class="row">
            <div class="col-lg-4">
                {% include 'properties/includes/detail/property_info.html' %}
            </div>
            <!-- end col -->

            <div class="col-lg-8">
                {% include 'properties/includes/detail/property_tabs.html' %}
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

        {% if status_integer > 3  and status_integer < 6 and propertyprocess.sector == "sales" %}
        <div class="row">
            <div class="col-12">
                {% include 'properties/includes/detail/sale_progression.html' %}
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        {% endif %}
    
        <div class="row">
            <div class="col-lg-8">
                {% include 'properties/includes/detail/property_chain.html' %}
            </div>
            <!-- end col -->

            <div class="col-lg-4">
                {% include 'properties/includes/detail/property_info.html' %}
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

    </div>
    <!-- container --> 
{% endblock %}

{% block extra_javascript %}
{{ block.super }}
    <!-- third party js -->
    <script src="{% static 'core/js/vendor/dragula.min.js' %}"></script>
    <!-- third party js ends -->

    <!-- demo app -->
            <script src="{% static 'core/js/ui/component.dragula.js' %}"></script>
    <!-- end demo js-->

    <script src="{% static 'properties/js/property_detail.js' %}"></script>
{% endblock %}
