{% extends "vertical_base.html" %}
{% load static i18n %}

{% block head_title %}{% trans "Property List" %}{% endblock head_title %}

{% block extra_css %}
<link rel=stylesheet href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css"></link>
{% endblock %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <!-- start page title -->
                <div class="page-title-box">
                    <div class="page-title-right">
                        <h4>
                            {{ properties.start_index }}-{{ properties.end_index }} of {{ properties_length }} {% if query %}results for "<span class="text-primary">{{ query }}</span>"{% endif %}
                        </h4>
                    </div>
                    <div class="text-center text-sm-left">
                        <h4 class="page-title"><a class="text-secondary text-hover-underline text-focus-underline" href="{% url 'properties:property_list' %}">Properties Home</a></h4>
                    </div>
                </div>
                <!-- end page title -->

                <!-- start content title -->
                <div class="row mb-3">
                    <div class="col-sm-3 text-center text-sm-left order-1">
                        <button class="btn btn-success btn-sm js-add-property" data-url="{% url 'properties:render_property' %}">Add New</button>
                    </div>
                    <div class="col order-2 order-sm-3">
                        {% include 'properties/includes/property_list/filters.html' %}
                    </div>
                    <!-- end col-->
                </div> 
                <!-- end row-->

                <!-- property panel -->
                {% for instance in properties %}
                    {% include 'properties/includes/property_list/panel.html' %}
                {% endfor %}
                <!-- end .mt-2-->

                <div class="row">
                    <div class="col text-center mt-2 mt-sm-0 order-3 order-sm-2">
                        {% include 'properties/includes/property_list/pagination.html' %}
                    </div>
                </div>

            </div>
        </div>
        <!-- end row-->

    </div>
    <!-- container -->
    {% include 'partials/base-large-modal.html' %}
    {% include 'partials/base-static-modal.html' %}
{% endblock %}

{% block extra_javascript %}
{{ block.super }}

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="{% static 'properties/js/property_details-v4.js' %}"></script>
{% endblock %}

