{% extends "vertical_base.html" %}
{% load static i18n %}

{% block head_title %}{% trans "Property List" %}{% endblock head_title %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <!-- start page title -->
                <div class="page-title-box">
                    <div class="page-title-right">
                        <h4>
                            {{ properties.start_index }}-{{ properties.end_index }} of {{ properties_length }} {% if query %}results for "<span class="text-primary">{{ query }}</span>"{% endif %}
                        </h4>
                    </div>
                    <div class="text-center text-sm-left">
                        <h4 class="page-title"><a class="text-secondary text-hover-underline text-focus-underline" href="{% url 'properties:property_list' %}">Properties Home</a></h4>
                    </div>
                </div>
                <!-- end page title -->

                <!-- start content title -->
                <div class="row mb-3">
                    <div class="col-sm-4 text-center text-sm-left order-1">
                        <a href="#" class="btn btn-success btn-sm">Add New</a>
                    </div>
                    <div class="col-sm-4 text-center mt-2 mt-sm-0 order-3 order-sm-2">
                        {% include 'properties/includes/property_list/pagination.html' %}
                    </div>
                    <div class="col-sm-4 order-2 order-sm-3">
                        {% include 'properties/includes/property_list/filters.html' %}
                    </div>
                    <!-- end col-->
                </div> 
                <!-- end row-->

                <!-- property panel -->
                {% for instance in properties %}
                    {% include 'properties/includes/property_list/panel.html' %}
                {% endfor %}
                <!-- end .mt-2-->

            </div>
        </div>
        <!-- end row-->

    </div> <!-- container -->
{% endblock %}
