{% for instance in property_history %}
<tr>
    <td>{{ instance.created|date:"D d M Y" }}</td>
    <td>{{ instance.description }}</td>
    {% if instance.type ==  "other" %}
        <td class="text-center"><span class="badge badge-dark-lighten">Other</span></td>
    {% elif instance.type ==  "property_event" %}
        <td class="text-center"><span class="badge badge-warning-lighten">Property Event</span></td>
    {% elif instance.type ==  "progression" %}
        <td class="text-center"><span class="badge badge-info-lighten">Progression</span></td>
    {% endif %}
    {% if instance.notes is not None %}
        {% if instance.notes != "" %}
            <td class="text-center"><span class="mdi mdi-playlist-check text-success pointer js-load-form" data-url="{% url 'properties:property_history_instance' instance.id %}"></span></td>
        {% else %}
            <td class="text-center"><span class="mdi mdi-playlist-remove"></span></td>
        {% endif %}
    {% else %}
        <td class="text-center"><span class="mdi mdi-playlist-remove"></span></td>
    {% endif %}
</tr>
{% endfor %}