<ul class="pagination pagination-sm mb-0 justify-content-center">
    {% if offers.has_previous %}
        <li class="page-item">
            <button class="page-link text-dark js-offers-pagination" data-url="{% url 'properties:offers_pagination' propertyprocess.id %}?page=1" aria-disabled="true"><span
                    class="mdi mdi-page-first"></span></button>
        </li>
        {% if offers.number == offers_last_page %}
            {% if offers.number != 2 %}
                <li class="page-item">
                    <button class="page-link text-dark js-offers-pagination"
                        data-url="{% url 'properties:offers_pagination' propertyprocess.id %}?page={{ offers.previous_page_number|add:'-1' }}">{{ offers.previous_page_number|add:"-1" }}</button>
                </li>
            {% endif %}
    {% endif %}
        <li class="page-item">
            <button class="page-link text-dark js-offers-pagination"
                data-url="{% url 'properties:offers_pagination' propertyprocess.id %}?page={{ offers.previous_page_number }}">{{ offers.previous_page_number }}</button>
        </li>
    {% else %}
        <li class="page-item disabled">
            <button class="page-link text-light" data-url="?page=1" aria-disabled="true"><span class="mdi mdi-page-first"></span></button>
        </li>
    {% endif %}
    <li class="page-item active" aria-current="page">
        <button class="page-link text-white js-offers-pagination"
            data-url="{% url 'properties:offers_pagination' propertyprocess.id %}?page={{ offers.number }}">{{ offers.number }} <span
                class="sr-only">(current)</span></button>
    </li>
    {% if offers.has_next %}
        <li class="page-item">
            <button class="page-link text-dark js-offers-pagination"
                data-url="{% url 'properties:offers_pagination' propertyprocess.id %}?page={{ offers.next_page_number }}">{{ offers.next_page_number }}</button>
        </li>
        {% if offers.number == 1 %}
            {% if offers_last_page == 2 %}
                <li class="page-item disabled">
                    <button class="page-link text-light" data-url="?page=3">3</button>
                </li>
            {% else %}
                <li class="page-item">
                    <button class="page-link text-dark js-offers-pagination" data-url="{% url 'properties:offers_pagination' propertyprocess.id %}?page=3">3</button>
                </li>
            {% endif %}
        {% endif %}
        <li class="page-item">
            <button class="page-link text-dark js-offers-pagination" data-url="{% url 'properties:offers_pagination' propertyprocess.id %}?page={{ offers_last_page }}"><span
                    class="mdi mdi-page-last"></span></button>
        </li>
    {% else %}
        {% if offers.number == 1 %}
            <li class="page-item disabled">
                <button class="page-link text-light" data-url="?page=2">2</button>
            </li>
            <li class="page-item disabled">
                <button class="page-link text-light" data-url="?page=3">3</button>
            </li>
        {% elif offers_last_page == 2 %}
            <li class="page-item disabled">
                <button class="page-link text-light" data-url="?page=3">3</button>
            </li>
        {% endif %}
            <li class="page-item disabled">
                <button class="page-link text-light" data-url="?page={{ offers_last_page }}"><span class="mdi mdi-page-last"></span></button>
            </li>
    {% endif %}
</ul>