{% load humanize %}
{% for instance in offers %}
<tr>
    <td>{{ instance.full_name }}</td>
    <td class="text-center">
        {% if instance.funding is not none %}
            {% if instance.funding == "cash" %}
                <span 
                    class="pointer text-primary js-edit-offerer-cash"
                    data-url="{% url 'properties:edit_offerer_cash' instance.id %}"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Edit Cash Option"
                >
                    {{ instance.get_funding_display }}
                </span>
            {% elif instance.funding == "mortgage" %}
            <span 
                class="pointer text-primary js-edit-offerer-mortgage"
                data-url="{% url 'properties:edit_offerer_mortgage' instance.id %}"
                data-toggle="tooltip"
                data-placement="top"
                title="Edit Mortgage Option"
            >
                {{ instance.get_funding_display }}
            </span>
            {% endif %}
        {% endif %}
    </td>
    <td class="text-center">£{{ instance.offerdetails.first.offer|intcomma }}</td>
    <td class="text-center">
        {% if instance.offerdetails.first.status == "getting_verified" %}
            <span 
                class="pointer badge badge-warning-lighten js-edit-offer-status"
                data-url="{% url 'properties:edit_offer_status' instance.offerdetails.first.id %}"
                data-toggle="tooltip"
                data-placement="top"
                title="Edit Offer Status"
            >
        {% elif instance.offerdetails.first.status == "negotiating" %}
            <span 
                class="pointer badge badge-info-lighten js-edit-offer-status"
                data-url="{% url 'properties:edit_offer_status' instance.offerdetails.first.id %}"
                data-toggle="tooltip"
                data-placement="top"
                title="Edit Offer Status"
                
            >
        {% elif instance.offerdetails.first.status == "rejected" %}
            <span 
                class="pointer badge badge-danger-lighten js-edit-offer-status"
                data-url="{% url 'properties:edit_offer_status' instance.offerdetails.first.id %}"
                data-toggle="tooltip"
                data-placement="top"
                title="Edit Offer Status"
                
            >
        {% elif instance.offerdetails.first.status == "accepted" %}
            <span 
                class="pointer badge badge-success-lighten js-edit-offer-status"
                data-url="{% url 'properties:edit_offer_status' instance.offerdetails.first.id %}"
                data-toggle="tooltip"
                data-placement="top"
                title="Edit Offer Status"
                
            >
        {% elif instance.offerdetails.first.status == "withdrawn" %}
            <span 
                class="pointer badge badge-secondary-lighten js-edit-offer-status"
                data-url="{% url 'properties:edit_offer_status' instance.offerdetails.first.id %}"
                data-toggle="tooltip"
                data-placement="top"
                title="Edit Offer Status"
                
            >
        {% endif %}
            {{ instance.offerdetails.first.get_status_display }}</span>
    </td>
    <td class="text-center"><span class="mdi mdi-view-list pointer js-show-offers" data-url="{% url 'properties:offerer_offers' instance.pk %}"></span></td>
</tr>
{% endfor %}