{% load humanize %}
<h5 class="text-uppercase text-center text-sm-left"><i class="mdi mdi-clipboard-file-outline mr-1"></i>
    Property Valuation</h5>

{% if propertyprocess.macro_status == "val" %}
<div class="text-center mt-2">
    <div class="row">
        <div class="col-12">
            <p class="mb-1"><strong>No valuation for this property.</strong></p>
        </div>
    </div>
</div>
{% else %}
<div class="mt-2">
    <div class="row">
        <div class="col-6 col-md-4 text-center">
            <p class="mb-1"><strong>Date:</strong></p>
            <p><span>{{ propertyprocess.valuation.date }}</span></p>
        </div>
        <div class="col-6 col-md-4 text-center">
            <p class="mb-1"><strong>Price Quoted:</strong></p>
            <p><span>£{{ propertyprocess.valuation.price_quoted|intcomma }}</span></p>
        </div>
        <div class="col-6 col-md-4 text-center">
            <p class="mb-1"><strong>Fee Quoted:</strong></p>
            <p><span>{{ propertyprocess.valuation.fee_quoted }}%</span></p>
        </div>
        <div class="col-6 col-md-4 offset-md-4 text-center">
            <p class="mb-1"><strong>Valuer:</strong></p>
            <p><span>{{ propertyprocess.valuation.valuer }}</span></p>
        </div>
    </div>
</div>
{% endif %}