{% extends "vertical_base.html" %}
{% load static i18n %}

{% block head_title %}{% trans "Invitations" %}{% endblock head_title %}

{% block extra_css %}
{{ block.super }}
{% endblock %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">
        
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="{% url 'home:home' %}"><i class="uil-home-alt"></i> Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Management</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Invitations</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Invitations</h4>
                </div>
            </div>
        </div>     
        <!-- end page title -->

        <!-- start inviations list -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <div id="page-title" class="float-none float-sm-left">
                                    <h6>Showing <span class="text-success">{{ active_invitations }}</span>
                                        {% if active_invitations > 1 or active_invitations == 0 %}Active Invitations{% else %}Active Invitation{% endif %}</h6>
                                </div>
                                <div class="float-none float-sm-right">
                                    <button class="btn btn-success btn-sm mr-2 js-add-invitation">Invite User</button>
                                </div>
                            </div>
                            <div id="panel-div" class="w-100 mt-3">

                                <div class="table-responsive">
                                    <table class="table table-sm table-centered mb-0 font-14">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Invited Email</th>
                                                <th style="width: 20%;">Targets Set</th>
                                                <th style="width: 20%;">Invite Sent</th>
                                                <th style="width: 20%;">Invite Sent By</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if active_invitations == 0 %}
                                                <tr>
                                                    <td>No active invitations.</td>
                                                </tr>
                                            {% else %}
                                                {% for invite in invitations %}
                                                    {% if invite.accepted is False %}
                                                    <tr>
                                                        <td>{{ invite.email }}</td>
                                                        <td>
                                                            {% if invite.employee_targets %}
                                                                {% for target in invite.user_invitation_targets_year.all %}
                                                                    {% if target.year == current_year %}
                                                                        <p class="mb-0 text-success"><span class="mdi mdi-check-circle-outline"></span></p>
                                                                    {% else %}
                                                                        <p class="mb-0 text-danger"><span class="mdi mdi-close-circle-outline"></span></p>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% else %}
                                                                <p class="mb-0 text-secondary"><span class="mdi mdi-checkbox-blank-circle"></span></p>
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ invite.invited }}</td>
                                                        <td>{{ invite.created_by }}</td>
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div> 
                                <!-- end table-responsive-->
                            </div>
                        </div>
                        <!-- end card-body-->
                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card-->
            </div>
            <!-- end col-->
        </div>
        <!-- End row -->
    </div>
    <!-- container -->
{% include 'partials/base-large-modal.html' %}
{% endblock %}

{% block extra_javascript %}
{{ block.super }}
    <script src="{% static 'invitations/js/invitations.js' %}"></script>
{% endblock %}
