{% for instance in notes %}
<tr>
    <td>{{ instance.created|date:"d M Y" }}</td>
    <td>{{ instance.notes }}</td>
    <td class="text-center">
        <span
            data-url="{% url 'properties:edit_progression_notes' instance.id %}" 
            class="text-center text-info pointer js-load-form">
            Edit
        </span>
        /
        <span
            data-url="{% url 'properties:delete_progression_notes' instance.id %}" 
            class="text-center text-danger pointer js-load-form">
            Delete
        </span>
    </td>
</tr>
{% endfor %}