{% load humanize %}
<div class="card">
    <div class="card-body">
        {% include 'properties/includes/detail_tabs/tabs.html' %}
        <div class="tab-content">
            <!-- history section -->
            <!-- tab pane -->
            <div class="tab-pane show active" id="history">

                <h5 class="text-uppercase"><i class="mdi mdi-history mr-1"></i>
                    All Property History</h5>

                <div class="table-responsive">
                    <table class="table table-borderless table-nowrap mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>Date</th>
                                <th>Event</th>
                                <th class="text-center">Type</th>
                                <th class="text-center">Notes</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-history">
                            {% include 'properties/includes/detail_tabs/history_table.html' %}
                        </tbody>
                    </table>
                </div>
                <div class="mt-1" id="history-pagination">
                    {% include 'properties/includes/detail_tabs/property_history_pagination.html' %}
                </div>
            </div>
            <!-- end tab-pane -->
            <!-- end history section -->

            <!-- valuation section -->
            <!-- tab pane -->
            <div class="tab-pane" id="valuation">
                    {% include 'properties/includes/detail_tabs/valuation.html' %}
                    <hr>
                    {% include 'properties/includes/detail_tabs/instruction.html' %}
            </div>
            <!-- end tab pane -->
            <!-- end valuation section -->

            {% if propertyprocess.furthest_status > 2 %}
            <!-- offer section -->
            <!-- tab pane -->
            <div class="tab-pane" id="offers">
                <h5 class="text-uppercase"><i class="mdi mdi-currency-gbp mr-1"></i>
                    Property Offer History {% if propertyprocess.legacy_property %} - {{ propertyprocess.get_legacy_property_display }}{% endif %}</h5>

                <div class="table-responsive">
                    <table class="table table-borderless table-nowrap mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th class="text-center">Funding</th>
                                <th class="text-center">Latest Offer</th>
                                <th class="text-center">Offer Status</th>
                                <th class="text-center">Extra Info</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-offers">
                            {% include 'properties/includes/detail_tabs/offer_table.html' %}
                        </tbody>
                    </table>
                </div>
                <div class="mt-1" id="offers-pagination">
                    {% include 'properties/includes/detail_tabs/offers_pagination.html' %}
                </div>
            </div>
            <!-- end tab pane -->
            <!-- end offer section -->
            {% endif %}
            
            {% if propertyprocess.sector == "sales" %}
            {% if propertyprocess.furthest_status > 3 %}
            <!-- deal section -->
            <!-- tab pane -->
            <div class="tab-pane" id="deal">
                <h5 class="text-uppercase"><i class="mdi mdi-handshake mr-1"></i>
                    Deal Information</h5>
                <div class="mt-2">
                    <div class="row">
                        <div class="col-6 col-md-4 text-center">
                            <p class="mb-1"><strong>Deal Date:</strong></p>
                            <p><span>{{ propertyprocess.deal.date }}</span></p>
                        </div>
                        <div class="col-6 col-md-4 text-center">
                            <p class="mb-1"><strong>Offer Accepted:</strong></p>
                            <p><span>{{ propertyprocess.deal.offer_accepted.offerer_details.full_name }}<br>£{{ propertyprocess.deal.offer_accepted.offer|intcomma }}</span></p>
                        </div>
                        <div class="offset-3 offset-md-0 col-6 col-md-4 text-center">
                            <p class="mb-1"><strong>Target Move Date:</strong></p>
                            <p><span>{{ propertyprocess.deal.target_move_date }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end tab pane -->
            <!-- end deal section -->
            {% endif %}
            {% endif %}

            {% if propertyprocess.sector == "sales" %}
            {% if propertyprocess.furthest_status > 4 %}
            <!-- exchange section -->
            <!-- tab pane -->
            <div class="tab-pane" id="exchange">
                <h5 class="text-uppercase"><i class="mdi mdi-van-utility mr-1"></i>
                    Exchange Information</h5>
                <div class="mt-2">
                    <div class="row">
                        <div class="col-6 text-center">
                            <p class="mb-1"><strong>Exchange Date:</strong></p>
                            <p><span>{{ propertyprocess.exchange_and_move.exchange_date }}</span></p>
                        </div>
                        <div class="col-6 text-center">
                            <p class="mb-1"><strong>Completion Date:</strong></p>
                            <p><span>{{ propertyprocess.exchange_and_move.completion_date }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end tab pane -->
            <!-- end exchange section -->
            {% endif %}
            {% endif %}

        </div>
        <!-- end tab-content -->
    </div>
    <!-- end card body -->
</div>
<!-- end card -->