{% load humanize %}
<!-- Property -->
<div class="card bg-success">
    <div class="card-body">

        <div class="row">
            <div class="col-sm-8">
                <div class="media">
                    <div class="media-body">

                        <h4 class="mt-1 mb-1 text-white">{{ propertyprocess }}</h4>
                        <p class="font-13 text-white-50">
                            {{ propertyprocess.get_sector_display }} - {{ propertyprocess.employee }}
                            {% if propertyprocess.legacy_property %} - {{ propertyprocess.get_legacy_property_display }}{% endif %}</p>

                        <ul class="mb-0 list-inline text-light">
                            <li class="list-inline-item mr-3">
                                <h5 class="mb-1">{{ propertyprocess.get_macro_status_display }}</h5>
                                <p class="mb-0 font-13 text-white-50">Status</p>
                            </li>
                            {% if propertyprocess.macro_status > 3 %}
                            <li class="list-inline-item mr-3">
                                <h5 class="mb-1">£{{ propertyprocess.property_fees.first.new_business|intcomma }}</h5>
                                <p class="mb-0 font-13 text-white-50">New Business</p>
                            </li>
                            <li class="list-inline-item mr-3">
                                <h5 class="mb-1">{{ propertyprocess.property_fees.first.fee }}%</h5>
                                <p class="mb-0 font-13 text-white-50">Fee</p>
                            </li>
                            <li class="list-inline-item mr-3">
                                <h5 class="mb-1">£{{ propertyprocess.deal.offer_accepted.offer|intcomma }}</h5>
                                <p class="mb-0 font-13 text-white-50">Price Agreed</p>
                            </li>
                            {% endif %}
                            {% if propertyprocess.macro_status == 2 %}
                            <li class="list-inline-item mr-3">
                                <h5 class="mb-1">£{{ propertyprocess.valuation.price_quoted|intcomma }}</h5>
                                <p class="mb-0 font-13 text-white-50">Price Quoted</p>
                            </li>
                            <li class="list-inline-item mr-3">
                                <h5 class="mb-1">{{ propertyprocess.valuation.fee_quoted }}%</h5>
                                <p class="mb-0 font-13 text-white-50">Fee Quoted</p>
                            </li>
                            {% endif %}
                            {% if propertyprocess.macro_status == 3 %}
                            <li class="list-inline-item mr-3">
                                <h5 class="mb-1">£{{ propertyprocess.instruction.listing_price|intcomma }}</h5>
                                <p class="mb-0 font-13 text-white-50">Listing Price</p>
                            </li>
                            <li class="list-inline-item mr-3">
                                <h5 class="mb-1">{{ propertyprocess.instruction.fee_agreed }}%</h5>
                                <p class="mb-0 font-13 text-white-50">Fee Agreed</p>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- end media-body-->
                </div>
            </div>
            <!-- end col-->
        </div>
        <!-- end row -->
    </div>
    <!-- end card-body -->
</div>
<!--end property / card -->