<!-- Marketing-Information -->
<div class="card">
    <div class="card-body">
        <div class="mb-2">
            <h4 class="header-title mt-0 mb-3 d-inline">Sols/Broker/Client Information</h4>
            <span
                {% if propertyprocess.selling_information %}
                    data-url="{% url 'properties:edit_client_info' propertyprocess.id %}"
                {% else %}
                    data-url="{% url 'properties:add_client_info' propertyprocess.id %}"
                {% endif %}
                class="mb-3 float-right mdi mdi-sticker-plus 
                {% if propertyprocess.furthest_status < 4 %}
                text-secondary" disabled
                {% else %}
                pointer text-success js-load-large-form js-large-scrollable-modal" 
                {% endif %}
                data-toggle="tooltip"
                data-placement="top"
                title="Add/Edit Info"
            ></span>
        </div>

        <ul class="nav nav-pills bg-nav-pills nav-justified mb-3 flex-wrap">
            <li class="nav-item">
                <a href="#seller" data-toggle="tab" aria-expanded="true" class="nav-link rounded-0 active">
                    Seller
                </a>
            </li>
            <li class="nav-item">
                <a href="#buyer" data-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                    Buyer
                </a>
            </li>
            <li class="nav-item">
                <a href="#broker" data-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                    Broker
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <!-- seller section -->
            <!-- tab pane -->
            <div class="tab-pane show active" id="seller">
                <p class="text-muted mb-1"><strong>Sellers</strong><span
                    class="ml-2"></span></p>
                <p class="text-muted"><strong>Name:</strong> 
                    <span
                        class="ml-2">
                            {% if propertyprocess.selling_information.seller_name %}
                                {{ propertyprocess.selling_information.seller_name }}
                            {% endif %}
                    </span>
                </p>
                <p class="text-muted"><strong>Phone:</strong> 
                    <span
                        class="ml-2">
                            {% if propertyprocess.selling_information.seller_phone %}
                                0{{ propertyprocess.selling_information.seller_phone }}
                            {% endif %}
                    </span>
                </p>
                <p class="text-muted"><strong>Email:</strong> 
                    <span
                        class="ml-2">
                            {% if propertyprocess.selling_information.seller_email %}
                                <a href="mailto:{{ propertyprocess.selling_information.seller_name }}">
                                {{ propertyprocess.selling_information.seller_email }}
                                </a>
                            {% endif %}
                    </span>
                </p>
                <hr>
                <p class="text-muted mb-1"><strong>Sellers Solicitors</strong><span
                    class="ml-2"></span></p>
                <p class="text-muted"><strong>Name:</strong> 
                    <span
                        class="ml-2">
                            {% if propertyprocess.selling_information.seller_sol_name %}
                                {{ propertyprocess.selling_information.seller_sol_name }}
                            {% endif %}
                    </span>
                </p>
                <p class="text-muted"><strong>Firm:</strong> 
                    <span
                        class="ml-2">
                            {% if propertyprocess.selling_information.seller_sol_firm %}
                                {{ propertyprocess.selling_information.seller_sol_firm }}
                            {% endif %}
                    </span>
                </p>
                <p class="text-muted"><strong>Phone:</strong>
                    <span
                        class="ml-2">
                            {% if propertyprocess.selling_information.seller_sol_phone %}
                                0{{ propertyprocess.selling_information.seller_sol_phone }}
                            {% endif %}
                    </span>
                </p>
                <p class="text-muted"><strong>Email:</strong> 
                    <span
                        class="ml-2">
                            {% if propertyprocess.selling_information.seller_sol_email %}
                                <a href="mailto:{{ propertyprocess.selling_information.seller_sol_email }}">
                                {{ propertyprocess.selling_information.seller_sol_email }}
                                </a>
                            {% endif %}
                    </span>
                </p>
            </div>
            <!-- end tab-pane -->
            <!-- end seller section -->

            <!-- buyer section -->
            <!-- tab pane -->
            <div class="tab-pane" id="buyer">
                <p class="text-muted mb-1"><strong>Buyer</strong><span
                    class="ml-2"></span></p>
                <p class="text-muted"><strong>Name:</strong> 
                    <span
                        class="ml-2">
                            {% if propertyprocess.selling_information.buyer_name %}
                                {{ propertyprocess.selling_information.buyer_name }}
                            {% endif %}
                    </span>
                </p>
                <p class="text-muted"><strong>Phone:</strong> 
                    <span
                        class="ml-2">
                        {% if propertyprocess.selling_information.buyer_phone %}
                            0{{ propertyprocess.selling_information.buyer_phone }}
                        {% endif %}
                    </span>
                </p>
                <p class="text-muted"><strong>Email:</strong> 
                    <span
                        class="ml-2">
                            {% if propertyprocess.selling_information.buyer_email %}
                                <a href="mailto:{{ propertyprocess.selling_information.buyer_name }}">
                                {{ propertyprocess.selling_information.buyer_email }}
                                </a>
                            {% endif %}
                    </span>
                </p>
                <hr>
                <p class="text-muted mb-1"><strong>Buyers Solicitors</strong><span
                    class="ml-2"></span></p>
                <p class="text-muted"><strong>Name:</strong> 
                    <span
                        class="ml-2">
                            {% if propertyprocess.selling_information.buyer_sol_name %}
                                {{ propertyprocess.selling_information.buyer_sol_name }}
                            {% endif %}
                    </span>
                </p>
                <p class="text-muted"><strong>Firm:</strong> 
                    <span
                        class="ml-2">
                            {% if propertyprocess.selling_information.buyer_sol_firm %}
                                {{ propertyprocess.selling_information.buyer_sol_firm }}
                            {% endif %}
                        </span>
                    </p>
                <p class="text-muted"><strong>Phone:</strong> 
                    <span
                        class="ml-2">
                        {% if propertyprocess.selling_information.buyer_sol_phone %}
                            0{{ propertyprocess.selling_information.buyer_sol_phone }}
                        {% endif %}
                    </span>
                </p>
                <p class="text-muted"><strong>Email:</strong> 
                    <span
                        class="ml-2">
                            {% if propertyprocess.selling_information. %}
                                <a href="mailto:{{ propertyprocess.selling_information.buyer_sol_email }}">
                                    {{ propertyprocess.selling_information.buyer_sol_email }}
                                </a>
                            {% endif %}
                    </span>
                </p>
            </div>
            <!-- end tab-pane -->
            <!-- end buyer section -->
        
            <!-- broker section -->
            <!-- tab pane -->
            <div class="tab-pane" id="broker">
                <p class="text-muted mb-1"><strong>Broker</strong><span
                    class="ml-2"></span></p>
                <p class="text-muted"><strong>Name:</strong> 
                    <span
                        class="ml-2">
                            {% if propertyprocess.selling_information.broker_name %}
                                {{ propertyprocess.selling_information.broker_name }}
                            {% endif %}
                    </span>
                </p>
                <p class="text-muted"><strong>Firm:</strong> 
                    <span
                        class="ml-2">
                            {% if propertyprocess.selling_information.broker_firm %}
                                {{ propertyprocess.selling_information.broker_firm }}
                            {% endif %}
                    </span>
                </p>
                <p class="text-muted"><strong>Phone:</strong> 
                    <span
                        class="ml-2">
                        {% if propertyprocess.selling_information.broker_phone %}
                            0{{ propertyprocess.selling_information.broker_phone }}
                        {% endif %}
                    </span>
                </p>
                <p class="text-muted"><strong>Email:</strong> 
                    <span
                        class="ml-2">
                        {% if propertyprocess.selling_information.broker_email %}
                            <a href="mailto:{{ propertyprocess.selling_information.broker_email }}">
                                {{ propertyprocess.selling_information.broker_email }}
                            </a>
                        {% endif %}
                    </span>
                </p>
            </div>
            <!-- end tab-pane -->
            <!-- end broker section -->

        </div>
        <!-- end tab-content -->

    </div>
</div>
<!-- End Marketing Information -->