{% load humanize %}
{% load static i18n %}
{% load mathfilters %}

<!-- Property -->
<div class="card bg-success">
    <div class="card-body">

        <div class="row">
            <div class="col-sm-7">
                <div class="media">
                    <div class="media-body">

                        <h4 class="mt-1 mb-1 text-white">{{ propertyprocess }}</h4>
                        <p class="font-13 text-white-50">
                            {{ propertyprocess.get_sector_display }} - {{ propertyprocess.employee }}
                            {% if propertyprocess.legacy_property %} - {{ propertyprocess.get_legacy_property_display }}{% endif %}</p>

                        <ul class="mb-0 list-inline text-light">
                            <li class="list-inline-item mr-3">
                                <h5 class="mb-1">{{ propertyprocess.get_macro_status_display }}</h5>
                                <p class="mb-0 font-13 text-white-50">Status</p>
                            </li>
                            {% if propertyprocess.furthest_status > 2 %}
                            <li class="list-inline-item mr-3">
                                <h5 class="mb-1">£{{ propertyprocess.property_fees.first.new_business|abs|intcomma }}</h5>
                                <p class="mb-0 font-13 text-white-50">New Business</p>
                            </li>
                            <li class="list-inline-item mr-3">
                                <h5 class="mb-1">{{ propertyprocess.property_fees.first.fee|abs }}%</h5>
                                <p class="mb-0 font-13 text-white-50">Fee</p>
                            </li>
                            <li class="list-inline-item mr-3">
                                <h5 class="mb-1">£{{ propertyprocess.property_fees.first.price|abs|intcomma }}</h5>
                                {% if propertyprocess.furthest_status > 3 %}
                                    <p class="mb-0 font-13 text-white-50">Price Agreed</p>
                                {% else %}
                                    <p class="mb-0 font-13 text-white-50">Latest Price</p>
                                {% endif %}
                            </li>
                            {% endif %}
                            {% if propertyprocess.furthest_status == 2 %}
                            <li class="list-inline-item mr-3">
                                <h5 class="mb-1">£{{ propertyprocess.valuation.price_quoted|intcomma }}</h5>
                                <p class="mb-0 font-13 text-white-50">Price Quoted</p>
                            </li>
                            <li class="list-inline-item mr-3">
                                <h5 class="mb-1">{{ propertyprocess.valuation.fee_quoted }}%</h5>
                                <p class="mb-0 font-13 text-white-50">Fee Quoted</p>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- end media-body-->
                </div>
            </div>
            <!-- end col-->
            <div class="col-sm-5">
                <div class="media">
                    <div class="media-body">
                        <h4 class="mt-1 mb-1 font-15 text-white">Quick Actions</h4>
                        <div id="quick-actions">
                            {% include 'properties/includes/detail/quick_actions.html' %}
                        </div>
                    </div>
                    <!-- end media-body-->
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end card-body -->
</div>
<!--end property / card -->