{% load static i18n %}
<button 
    data-url="{% url 'properties:add_valuation' propertyprocess.id %}" data-toggle="tooltip"
    data-placement="top"
    title="Valuation"
    class="mb-1 btn px-2 py-1 {% if propertyprocess.macro_status != 1 %}btn-secondary" disabled{% else %}btn-info js-load-form"{% endif %}>
        <i class="mdi mdi-clipboard-file-outline icon-lg-size"></i>
</button>
<button 
    {% if propertyprocess.sector == "sales" %}
        data-url="{% url 'properties:add_instruction' propertyprocess.id %}"
    {% else %}
        data-url="{% url 'properties:add_lettings_instruction' propertyprocess.id %}"
    {% endif %}
    data-toggle="tooltip"
    data-placement="top"
    title="Instruction"
    class="mb-1 btn px-2 py-1 {% if propertyprocess.macro_status != 2 %}btn-secondary" disabled{% else %}btn-info js-load-form"{% endif %}>
        <i class="mdi mdi-clipboard-text-outline icon-lg-size"></i>
</button>
<button 
    data-url="{% url 'properties:add_reduction' propertyprocess.id %}" data-toggle="tooltip"
    data-placement="top"
    title="Reduction"
    class="mb-1 btn px-2 py-1 {% if propertyprocess.macro_status != 3 %}btn-secondary" disabled{% else %}btn-info js-load-form"{% endif %}>
        <i class="mdi mdi-cash-minus icon-lg-size"></i>
</button>
<button 
    {% if propertyprocess.sector == "sales" %}
        data-url="{% url 'properties:add_offerer' propertyprocess.id %}"
    {% else %}
        data-url="{% url 'properties:add_offerer_lettings' propertyprocess.id %}"
    {% endif %}
    data-toggle="tooltip"
    data-placement="top"
    title="Add Offer"
    class="mb-1 btn px-2 py-1 {% if propertyprocess.macro_status != 3 %}btn-secondary" disabled{% else %}btn-info js-add-offerer"{% endif %}>
        <i class="mdi mdi-offer icon-lg-size"></i>
</button>
<button 
    {% if propertyprocess.sector == "sales" %}
        data-url="{% url 'properties:add_another_offer' propertyprocess.id %}"
    {% else %}
        data-url="{% url 'properties:add_another_lettings_offer' propertyprocess.id %}"
    {% endif %}
    data-toggle="tooltip"
    data-placement="top"
    title="Change Offer"
    class="mb-1 btn px-2 py-1 {% if propertyprocess.macro_status != 3 %}btn-secondary" disabled{% else %}btn-info js-load-form"{% endif %}>
        <i class="mdi mdi-piggy-bank icon-lg-size"></i>
</button>
{% if propertyprocess.macro_status == 3 or propertyprocess.macro_status == 4 %}
    <button 
        data-url="{% url 'properties:withdraw_property' propertyprocess.id %}" data-toggle="tooltip"
        data-placement="top"
        title="Withdraw"
        class="mb-1 btn px-2 py-1 {% if propertyprocess.macro_status == 3 or propertyprocess.macro_status == 4 %}btn-info js-load-form"{% else %}btn-secondary" disabled{% endif %}>
            <i class="mdi mdi-alert-octagon icon-lg-size"></i>
    </button>
{% elif propertyprocess.macro_status == 0 %}
    <button 
        data-url="{% url 'properties:back_on_the_market' propertyprocess.id %}" data-toggle="tooltip"
        data-placement="top"
        title="Back On The Market"
        class="mb-1 btn px-2 py-1 btn-info js-load-large-form">
        <i class="mdi mdi-home-plus icon-lg-size"></i>
    </button>
{% endif %}
<button
    {% if propertyprocess.sector == "sales" %}
        data-url="{% url 'properties:add_deal' propertyprocess.id %}"
    {% else %}
        data-url="{% url 'properties:add_deal_lettings' propertyprocess.id %}"
    {% endif %}
    data-toggle="tooltip"
    data-placement="top"
    title="Add Deal"
    class="mb-1 btn px-2 py-1 {% if propertyprocess.macro_status != 3 %}btn-secondary" disabled{% else %}btn-info js-load-form"{% endif %}>
        <i class="mdi mdi-handshake icon-lg-size"></i>
</button>
<button 
    {% if propertyprocess.sector == "sales" %}
        data-url="{% url 'properties:add_exchange' propertyprocess.id %}"
        title="Add Exchange"
    {% else %}
        data-url="{% url 'properties:add_exchange_lettings' propertyprocess.id %}"
        title="Add Lettings Exchange"
    {% endif %}
    data-toggle="tooltip"
    data-placement="top"
    class="mb-1 btn px-2 py-1 {% if propertyprocess.macro_status != 4 %}btn-secondary" disabled{% else %}btn-info js-load-form"{% endif %}>
        <i class="mdi mdi-home-lock icon-lg-size"></i>
</button>
<button 
    {% if propertyprocess.sector == "sales" %}
        data-url="{% url 'properties:fall_through' propertyprocess.id %}"
    {% else %}
        data-url="{% url 'properties:lettings_fall_through' propertyprocess.id %}"
    {% endif %}
    data-toggle="tooltip"
    data-placement="top"
    title="Fall Though Property"
    class="mb-1 btn px-2 py-1 {% if propertyprocess.macro_status != 4 %}btn-secondary" disabled{% else %}btn-info js-load-form"{% endif %}>
        <i class="mdi mdi-trash-can-outline icon-lg-size"></i>
</button>
{% if propertyprocess.previously_fallen_through is True %}
<button 
    data-url="{% url 'properties:manage_sales_progression' propertyprocess.id %}" data-toggle="tooltip"
    data-placement="top"
    title="Manage Sales Progression"
    class="mb-1 btn px-2 py-1 btn-info js-load-form">
        <i class="mdi mdi-cog-counterclockwise icon-lg-size"></i>
</button>
{% endif %}
{% if propertyprocess.sector == "lettings" and propertyprocess.macro_status == 5 %}
<button 
    data-url="{% url 'properties:re_let' propertyprocess.id %}"
    data-toggle="tooltip"
    data-placement="top"
    title="Re-Let Property"
    class="mb-1 btn px-2 py-1 btn-info js-load-large-form">
        <i class="mdi mdi-clipboard-play-outline icon-lg-size"></i>
</button>
{% endif %}
{% if propertyprocess.boards and request.user.feature_toggle.allow_boards %}
<button 
    {% if propertyprocess.board.created_on_signmaster %}
        data-url=""
    {% else %}
        data-url="{% url 'boards:add_board' propertyprocess.board.id %}"
    {% endif %}
    data-toggle="tooltip"
    data-placement="top"
    title="Manage Board"
    class="mb-1 btn px-2 py-1 btn-info js-load-large-form">
        <i class="mdi mdi-sign-real-estate icon-lg-size"></i>
</button>
{% endif %}