{% for instance in regions %}
<!-- start panel -->
<div class="col-12 {% if forloop.first %}mt-3{% else %}mt-4{% endif %}">
    <a class="text-dark collapsed" data-toggle="collapse" href="#{{ instance.slug }}" aria-expanded="false"
        aria-controls="{{ instance.slug }}">
        <h5 class="m-0 pb-2">
            <i class='uil uil-angle-down font-18'></i>{{ instance.name }} <span
                class="text-muted">({{ instance.region.all.count }})</span> - 
                <p class="mb-0 d-inline text-primary js-edit-region"  data-url="{% url 'regionandhub:edit_region' instance.slug %}" data-toggle="tooltip" data-placement="top" title="Edit Region">
                    <i class="mdi mdi-calendar-edit font-16 mr-1"></i>
                </p>
        </h5>
    </a>

    <!-- start hub dropdown -->
    <div class="collapse" id="{{ instance.slug }}">

        <!-- start card -->
        <div class="card mb-0">

            <!-- start card-body-->
            <div class="card-body">

                {% for hub_instance in instance.region.all %}
                <!-- region -->
                <div class="row justify-content-sm-between mt-2">
                    <div class="col-sm-3 mb-2 mb-sm-0">

                        <!-- start checkbox -->
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="{{ hub_instance.id }}">
                            <label class="custom-control-label" for="{{ hub_instance.id }}">
                                {{ hub_instance }}
                            </label>
                        </div>
                        <!-- end checkbox -->

                    </div>
                    <!-- end col -->
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-12 col-md-3 text-center px-0 mx-auto">
                                {{ hub_instance.employee.all.count }} Employees.
                            </div>
                                {% for hub_target_instance in targets_set %}
                                    {% if hub_instance.pk == hub_target_instance.hub_pk %}
                                        {% if hub_target_instance.current_year %}
                                            <div class="col-12 col-md-3 text-center px-0 mx-auto">
                                                <p class="mb-0 text-success pointer text-hover-underline js-edit-hub-targets" data-url="{% url 'regionandhub:hub_edit_targets' hub_instance.slug current_year %}">{{ current_year }} Targets <span class="mdi mdi-check-circle-outline"></span></p>
                                            </div>
                                        {% else %}
                                            <div class="col-12 col-md-3 text-center px-0 mx-auto">
                                                <p class="mb-0 text-danger pointer text-hover-underline js-add-specific-hub-targets" data-url="{% url 'regionandhub:hub_add_specific_targets' hub_instance.slug current_year %}">{{ current_year }} Targets <span class="mdi mdi-close-circle-outline"></span></p>
                                            </div>
                                        {% endif %}
                                        {% if hub_target_instance.next_year %}
                                            <div class="col-12 col-md-3 text-center px-0 mx-auto">
                                                <p class="mb-0 text-success pointer text-hover-underline js-edit-hub-targets" data-url="{% url 'regionandhub:hub_edit_targets' hub_instance.slug next_year %}">{{ next_year }} Targets <span class="mdi mdi-check-circle-outline"></span></p>
                                            </div>
                                        {% else %}
                                            <div class="col-12 col-md-3 text-center px-0 mx-auto">
                                                <p class="mb-0 text-danger pointer text-hover-underline js-add-specific-hub-targets" data-url="{% url 'regionandhub:hub_add_specific_targets' hub_instance.slug next_year %}">{{ next_year }} Targets <span class="mdi mdi-close-circle-outline"></span></p>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                

                            <div class="col-12 col-md-2 px-0 mx-auto">
                                <ul class="list-inline font-13 text-center text-md-right">
                                    <li class="list-inline-item">
                                        <p class="mb-0 d-inline text-primary pointer js-edit-hub"  data-url="{% url 'regionandhub:edit_hub' hub_instance.slug %}" data-toggle="tooltip" data-placement="top" title="Edit Hub">
                                            <i class="mdi mdi-calendar-edit font-16 mr-1"></i>
                                        </p>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="mb-0 d-inline text-primary pointer js-hub-employees"  data-url="{% url 'regionandhub:show_hub_employees' hub_instance.slug %}" data-toggle="tooltip" data-placement="top" title="Hub Employees">
                                            <i class="mdi mdi-view-list font-16 mr-1"></i>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div> <!-- end .d-flex-->
                    </div> <!-- end col -->
                </div>
                <!-- end region -->
                {% endfor %}

            </div>
            <!-- end card-body-->

        </div>
        <!-- end card -->

    </div>
    <!-- end hub dropdown -->

</div>
<!-- end panel -->

{% endfor %}