{% extends "vertical_base.html" %}
{% load static i18n %}

{% block head_title %}{% trans "Area List" %}{% endblock head_title %}

{% block extra_css %}
<link rel=stylesheet href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css"></link>
{% endblock %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">

        <h1>AREA LIST</h1>

    </div>
    <!-- container -->
    {% include 'partials/base-large-modal.html' %}
    {% include 'partials/base-static-modal.html' %}
{% endblock %}

{% block extra_javascript %}
{{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <!-- <script src="{% static 'properties/js/property_details-v4.js' %}"></script> -->
{% endblock %}

